<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.tekmtn.locationtest"
    versionCode = "1" 
    version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>TekMtn Location Test</name>

    <description>
      Testing GeoLocation
    </description>

    <author href="http://www.tekmtn.com" email="mike@tekmtn.com">
      TekMtn | Mike Jouwstra
    </author>

    <content src="index.html" />
    <access origin="*" />

    <gap:plugin name="com.phonegap.plugins.geolocation" />
</widget>